body {
  min-height: 2000px;
  font-family: "Poppins", sans-serif;
}

.jumbotron {
  padding-top: 5rem;
  padding-bottom: 0%;
  padding-left: 0%;
  padding-right: 0%;
  background-color: #f3f4f5;
}

#hasil {
  background-color: #f3f4f5;
}

section {
  padding-top: 1rem;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease;
}

html {
  scroll-behavior: smooth;
}
